@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  --color-primary: #fff;
  --color-secondary: #10b981;
  --color-black: black;
  --color-text-primary: rgba(20, 28, 57, 0.81);
  --color-text-secondary: #fff;
  --color-input: #293347a6;
  --font: "Roboto", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font);
}

.header {
  height: 70px;
  background-color: var(--color-black);
  color: var(--color-secondary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.contenedor {
  display: flex;
  padding-top: 15px;
}

.formulario {
  width: 30%;
  height: 100%;
  background-color: var(--color-primary);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.formulario form {
  margin-top: 20px;
}

.formulario h1 {
  text-align: center;
  margin: 20px;
  color: var(--color-text-primary);
  font-size: 2rem;
}

.formulario label {
  font-size: 1.25rem;
  margin: 10px 20px 0;
}

.formulario input {
  width: 90%;
  margin: 10px 20px;
  height: 40px;
  padding: 10px;
  border: 1px solid var(--color-input);
  border-radius: 6px;
  font-size: 18px;
}

.formulario textarea {
  width: 90%;
  height: 110px;
  margin: 15px;
  padding: 10px;
  border: 1px solid var(--color-input);
  border-radius: 6px;
  font-size: 18px;
}

.formulario select {
  width: 90%;
  height: 40px;
  margin: 10px 20px;
  background-color: var(--color-primary);
  border: 1px solid var(--color-input);
  border-radius: 6px;
  font-size: 16px;
}

.formulario button {
  margin: 20px 150px;
  width: 30%;
  height: 35px;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--color-primary);
  color: var(--color-text-primary);
  font-size: 16px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
}

.formulario button:hover {
  background-color: var(--color-black);
  color: var(--color-secondary);
}

.prev {
  width: 35%;
  padding: 0 10px;
  border: 1px solid var(--color-input);
  border-radius: 3px;
  overflow: scroll;
  font-family: var(--font);
}

.prev__icon {
  display: flex;
  justify-content: flex-end;
}

.prev h1 {
  text-align: start;
  padding: 10px;
  color: var(--color-text-primary);
  font-size: 2rem;
  border-bottom: 1px solid #eaecef;
}

.prev img {
  margin: 10px;
}

.prev p {
  padding: 15px;
}

.prev h2 {
  text-align: start;
  margin: 10px;
  padding: 10px;
  color: var(--color-text-primary);
  font-size: 1.5rem;
  border-bottom: 1px solid #eaecef;
}

.prev a {
  text-decoration: none;
  font-size: 18px;
  margin-left: 30px;
}

.code {
  border-radius: 3px;
  padding: 0 20px;
  width: 35%;
  background-color: var(--color-black);
  color: var(--color-text-secondary);
  overflow: scroll;
  font-size: 17px;
}

.code__icon {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}
.code h4 {
  color: var(--color-secondary);
  margin-bottom: 15px;
}

.code p {
  margin-bottom: 30px;
}
